@use "../settings" as *;
.header {
  margin: 0;
  padding-top: 89px;
  padding-bottom: 141px;
  background-color: $bkg-w;
  min-width: 100%;
  @media (max-width:440px) {
    padding-top: 39px;
    padding-bottom: 101px;
  }
  &-container{
    width: min(100% - 40px, 1110px);
  margin-inline: auto;
  }

  &-nav {
    margin-bottom: 162px;
    @media (max-width:440px) {
      margin-bottom: 102px;
    }
  }
  &-nav__list{
    display: flex;
    gap: 40px;
    @media (max-width:755px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px 40px;
    }
  }
  &-nav__link{
    text-decoration: none;
    color: $bkg-blck;
    transition: 0.2s;
    line-height: $ln;
    letter-spacing: 1.6px;
    display: block;
    &:focus,
    &:hover{
      color: $bkg-bl;
    }
  }
}
.footer-content {
  width: min(100% - 40px, 1110px);
  margin-inline: auto;
}



